.button {
  position: relative;
  overflow: visible;
  background: hsl(var(--primary050));
  padding: var(--border1) var(--space-1);
  border: none;
  outline: var(--border-2) solid hsl(var(--primary500));
  font-style: normal;
  font-weight: var(--weight700);
  transition: transform .1s;

  &:hover {
    background: hsl(var(--primary500));
    color: hsl(var(--primary050));
    text-decoration: none;
    svg { color: hsl(var(--primary050)) };
  }

  &:active {
    transform: translate(var(--border1), var(--border1));
    &::after {
      opacity: 0%;
      transition: opacity .05s;
      transition-delay: 0s;
    }
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    box-sizing: content-box; // Excludes border to get cosistent sizing
    z-index: -1;
    width: 100%;
    height: 100%;
    left: var(--border1);
    top: var(--border1);
    opacity: 100%;
    outline: var(--border-1) solid hsl(var(--primary200));
    transition: opacity .2s;
    transition-delay: .1s;
  }
}
