.post {
  ul {
    list-style: inside disc;
    & > * + * {
      margin-block-start: 0.67em;
    }
  }

  li {
    padding-inline-start: var(--space-1);
  }

  // Creates top progress bar
  &::after {
    display: block;
    content: '';
    border-top: var(--border1) solid var(--primary500);
    position: fixed;
    top: 0;
    left: 0;
    width: 0vw;
  }
}