// Creative Commons symbols
.cc {
  display: inline-block;
  background: var(--neutral900);
  padding: var(--space-1) var(--space0) 0 var(--space-3);
  border: none;

  svg {
    height: var(--space0);
    width: var(--space0);
    fill: var(--primary50);

    circle {
      fill: var(--neutral900);
    }
  }

  &:hover {
    background: none;

    svg {
      fill: var(--neutral900);

      circle {
        fill: var(--primary50);
      }
    }
  }
}