// Creative Commons symbols
.cc {
  display: inline-block;
  background: hsl(var(--neutral900));
  padding: var(--space-1) var(--space0) 0 var(--space-3);
  border: none;

  svg {
    height: var(--space0);
    width: var(--space0);
    fill: hsl(var(--primary050));

    circle {
      fill: hsl(var(--neutral900));
    }
  }

  &:hover {
    background: none;

    svg {
      fill: hsl(var(--neutral900));

      circle {
        fill: hsl(var(--primary050));
      }
    }
  }
}