body {
  background-color: hsl(var(--primary050));
  color: hsl(var(--neutral900));
  font-family: var(--sans);
  font-size: var(--step0);
  font-weight: var(--weight400);
  letter-spacing: +.05ch;
  line-height: var(--linebody);
}

main {
  width: 100vw;
  background-color: white;
  padding: var(--space4) var(--space0) var(--space4);
}

::selection {
}


/*:focus { outline: var(--border-2) solid hsl(var(--primary600);) outline-offset: -5px;}*/


h3,
h4,
p,
li,
blockquote:not([class]),
figcaption {
  max-inline-size: 50ch;
}



h1,
h2,
h3,
h4 {
  font-weight: var(--weight700);
  letter-spacing: -.08ch;
  line-height: var(--linehead);
}

h1,
h2 {
  max-inline-size: 20ch;
}

h1 {
  font-size: var(--step5);
}

h2 {
  font-size: var(--step3);
}


h3 {
  font-size: var(--step2);
}

h4 {
  font-size: var(--step1);
}

a,
button {
  cursor: pointer;
}


a {
  color: hsl(var(--primary500));
  border-bottom: var(--border-2) solid hsl(var(--primary500));
  &:hover {
    color: hsl(var(--neutral900));
    border-color: hsl(var(--neutral900));
  }
  &:focus {}
  &:link {}
  &:visited {}
}


b,
strong {}

i,
em {}

ul {
  list-style: none;
}

li {}

::marker {}