---
translationKey: csaw
title: L’essai du CSAW
permalink: /{{ locale }}/csaw/
description: Les résultats de cet essai clinique posent un réel défi à la compréhension et à la gestion traditionnelle de la douleur sous-acromiale de l’épaule.
---
{% extends 'base.html' %}
{% block body %}
<main class="[ bg-p100 ]">
  <div class="[ squeeze12 stack ] [ cx nmy0 g4 ]">
    <section class="[ stack ] [ g2 ]">
      <div class="[ flow1/2 ]">
        <h1>L’arthroscopie de l’épaule peut-elle fonctionner?</h1>
        <p class="[ fs2 ]"><em>L’essai du CSAW</em></p>
      </div>
      <div class="[ cluster ] [ jb g2 fs-1 ]">
        <div class="[ image ] [ frame1:1 squeeze7 ]"><img src="/assets/img/csaw-pain.jpg" alt=""></div>
        <div class="[ flow2 ] [ pl0 bdl-1 bd-p500 ]">
          <p>Si vous ou quelqu’un que vous connaissez souffrez de douleurs à l’épaule, il peut être difficile de prendre une décision éclairée quant aux options de traitement à suivre. La chirurgie est une option fréquemment recommandée pour traiter cette condition encore communément connue sous le nom de conflit sous-acromial.</p>
          <p>Cet essai clinique a évalué l’efficacité de la chirurgie de décompression sous-acromiale, une procédure couramment effectuée, en la comparant à une chirurgie placebo (fausse) ainsi qu’à aucun traitement. Les résultats posent un réel défi à la compréhension et à la gestion traditionnelle de la douleur sous-acromiale de l’épaule.</p>
        </div>
      </div>
    </section>

    <div class="[ bdt0 bd-p200 ]"></div>

    <section class="[ switcher10 ] [ g2 ]">
      <h2 class="[ h ]">Critères d'inclusion et d'exclusion</h2>
      <div class="[ flow3/2 squeezebody ] [ ]">
        <h3>Qui a été <span class="[ bdb-1 bd-n900 ]">inclus</span>?</h3>
        <ul class="[ list-bullet ] [ flow1/2 ]">
          <li>Douleur sous-acromiale depuis 3+ mois</li>
          <li>Tendons intacts de la coiffe des rotateurs</li>
          <li>Admissible à la chirurgie arthroscopique</li>
          <li>Terminer un programme non chirurgical comprenant des exercices et 1+ injection</li>
        </ul>
      </div>
      <div class="[ flow3/2 squeezebody ] [ ]">
        <h3>Qui a été <span class="[ bdb-1 bd-n900 ]">exclu</span>?</h3>
        <ul class="[ list-bullet ] [ flow1/2 ]">
          <li>Déchirure complète de la coiffe des rotateurs</li>
          <li>Des déchirures d’épaisseur partielle ont été enregistrées mais non exclues</li>
        </ul>
      </div>
    </section>

    <div class="[ bdt0 bd-p200 ]"></div>

    <section class="[ stack ] [ tc g0 fc-p100 ]">
      <div class="[ squeeze9 ] [ cx px2 py0 bg-n900 ]">
        <p class="[ fs4 fw700 ]">313 sujets</p>
      </div>
      <div class="[ cluster ] [ ic jc g0 fc-p300 fs0 ]">
        <p class="[ squeeze6 ] [ e te ]">Répartis équitablement</p>
        <div class="[ stack ] [ ic ]">
          <div class="[ sc py2 bdl-1 bd-p300 bg-p300 ]"></div>
        </div>
        <p class="[ squeeze6 ] [ e ts ]">en 3 groupes</p>
      </div>
      <div class="[ switcher11 ] [ g0 ]">
        <div class="[ stack ] [ ]">
          <div class="[ flow1/2 stack ] [ ic py0 bg-p500 ]">
            <h3 class="[ fs1 ]">Décompression</h3>
            <p>Chirurgie réelle</p>
          </div>
          <div class="[ switcher6 ]">
            <div class="[ py-2 bg-n900 fc-n100 fs-1 ]">
              <p><strong class="[ fs0 ]">53</strong><br>Âge</p>
            </div>
            <div class="[ py-2 bg-n900 fc-n100 fs-1 ]">
              <p><strong class="[ fs0 ]">51%</strong><br>Femmes</p>
            </div>
          </div>
        </div>
        <div class="[ stack ] [ ]">
          <div class="[ flow1/2 stack ] [ ic py0 bg-p500 ]">
            <h3 class="[ fs1 ]">Arthroscopie</h3>
            <p>Chirurgie placebo</p>
          </div>
          <div class="[ switcher6 ]">
            <div class="[ py-2 bg-n900 fc-n100 fs-1 ]">
              <p><strong class="[ fs0 ]">54</strong><br>Âge</p>
            </div>
            <div class="[ py-2 bg-n900 fc-n100 fs-1 ]">
              <p><strong class="[ fs0 ]">50%</strong><br>Femmes</p>
            </div>
          </div>
        </div>
        <div class="[ stack ] [ ]">
          <div class="[ flow1/2 stack ] [ ic py0 bg-p500 ]">
            <h3 class="[ fs1 ]">Aucun traitement</h3>
            <p>Groupe de contrôle</p>
          </div>
          <div class="[ switcher6 ]">
            <div class="[ py-2 bg-n900 fc-n100 fs-1 ]">
              <p><strong class="[ fs0 ]">53</strong><br>Âge</p>
            </div>
            <div class="[ py-2 bg-n900 fc-n100 fs-1 ]">
              <p><strong class="[ fs0 ]">50%</strong><br>Femmes</p>
            </div>
          </div>
        </div>
      </div>
      <div class="[ switcher10 ] [ gx0 gy-3 ]">
        <div class="[ pt2 fc-n900 fs3 ]">
          Opérés sur<br><strong>30 sites</strong>
        </div>
        <div class="[ pt2 fc-n900 fs3 ]">
          Traités par<br><strong>38 chirurgiens</strong>
        </div>
      </div>
    </section>

    <div class="[ bdt0 bd-p200 ]"></div>

    <section class="[ flow2 squeezebody ] [ cx ]">
      <h2 class="[ tc fs4 ]">La décompression n’est pas mieux que la chirurgie placebo.</h2>
      <div class="[ image ]"><img src="/assets/img/csaw-results-fr.png" alt=""></div>
      <p>Les deux groupes chirurgicaux ont amélioré leur Oxford Shoulder Score* comparativement à ceux qui n’ont subi aucun traitement, mais la décompression <strong>n’a pas surpassé</strong> l’arthroscopie.</p>
      <p class="[ fs-2 ]"><i>* L’Oxford Shoulder Score est un questionnaire de 48 points qui mesure la fonction de l’épaule</i></p>
    </section>

    <div class="[ bdt0 bd-p200 ]"></div>

    <section class="[ sidebar ] [ ic rr gx4 gy2 ]">
      <div class="[ main50% stack ]">
        <h2 class="[ h ]">Implications</h2>
        <div class="[ flow1 ] [ p2 bg-n700 fc-n200 ]">
          <h3>Une interprétation</h3>
          <p>La décompression et l’arthroscopie sont efficaces et pourraient être considérées comme des stratégies de traitement de la douleur sous-acromiale.</p>
        </div>
        <div class="[ flow1 ] [ p2 bg-n900 fc-p100 ]">
          <h3>Plus probable</h3>
          <p>La chirurgie, bien que <em>statistiquement</em> meilleure que l’absence de traitement, ne procure pas aux patients souffrant de douleurs sous-acromiales un avantage <em>cliniquement</em> significatif.</p>
        </div>
      </div>
      <div class="[ flow2 side7 ] [ pl0 bdl-1 bd-p500 fs-1 ]">
      <p><strong>Patients avec une douleur à l’épaule:</strong><br>Discutez de cette étude avec votre professionnel de la santé de confiance. Demandez-lui quels sont les risques, les avantages et les données probantes qui sous-tendent vos différentes options de traitement. Collaborez pour prendre une décision éclairée qui vous convient.</p>
      <p><strong>Professionnels de la santé:</strong><br>Les thérapies invasives peuvent être puissantes, mais la validité des procédures établies ne doit pas être tenue pour acquise. Discutez avec vos patients des données probantes concernant la chirurgie pour leur état. Collaborez pour prendre une décision éclairée qui leur convient.</p>
    </div>
    </section>

    <div class="[ bdt0 bd-p200 ]"></div>

    <div class="[ cluster ] [ ie jb gx4 gy2 ]">
      <div class="[ flow2 ] [ fs-1 ]">
        <h2>Références</h2>
        <p>Beard DJ, Rees JL, Cook JA, et al. Arthroscopic subacromial decompression for subacromial shoulder pain (CSAW): a multicentre, pragmatic, parallel group, placebo-controlled, three-group, randomised surgical trial. Lancet. 2018;391(10118):329-338.</p>
        <p class="[ fs0 ]"><a href="/{{ locale }}/">🡨 Retour au départ</a></p>
      </div>
      {% include 'partials/translations.html' %}
    </div>
  </div>
</main>
{% endblock %}
