---
translationKey: home
permalink: /{{ locale }}/
title: La révolution de la douleur est arrivée.
description: La révolution de la douleur est arrivée. Notre mission est de développer des ressources qualitatives d’éducation et de réadaptation de la douleur pour les cliniciens, les patients et le grand public.
---
{% extends 'base.html' %}
{% block body %}
{% include 'partials/header.html' %}
<main>
  <div class="[ squeeze12 stack ] [ cx g4 ]">
    {% include 'partials/homeIntro.html' %}
    <section class="[ flow2 ]">
      <h2 class="[ h-fancy ]">Projets</h2>
      <div class="[ flow1/3 ]">
        <h3>CSAW</h3>
        <p>Les résultats de cet essai clinique posent un réel défi à la compréhension et à la gestion traditionnelle de la douleur sous-acromiale de l’épaule. <a href="/{{ locale }}/csaw/">En savoir plus</a></p>
      </div>
    </section>
  </div>
</main>
{% include 'partials/footer.html' %}
{% endblock %}
