.bg-p050 { background: hsl(var(--primary050)); }
.bg-p100 { background: hsl(var(--primary100)); }
.bg-p200 { background: hsl(var(--primary200)); }
.bg-p300 { background: hsl(var(--primary300)); }
.bg-p400 { background: hsl(var(--primary400)); }
.bg-p500 { background: hsl(var(--primary500)); }
.bg-p600 { background: hsl(var(--primary600)); }
.bg-p700 { background: hsl(var(--primary700)); }
.bg-p800 { background: hsl(var(--primary800)); }
.bg-p900 { background: hsl(var(--primary900)); }

.bg-n500 { background: hsl(var(--neutral050)); }
.bg-n100 { background: hsl(var(--neutral100)); }
.bg-n200 { background: hsl(var(--neutral200)); }
.bg-n300 { background: hsl(var(--neutral300)); }
.bg-n400 { background: hsl(var(--neutral400)); }
.bg-n500 { background: hsl(var(--neutral500)); }
.bg-n600 { background: hsl(var(--neutral600)); }
.bg-n700 { background: hsl(var(--neutral700)); }
.bg-n800 { background: hsl(var(--neutral800)); }
.bg-n900 { background: hsl(var(--neutral900)); }

.bg-a050 { background: hsl(var(--accent050)); }
.bg-a100 { background: hsl(var(--accent100)); }
.bg-a200 { background: hsl(var(--accent200)); }
.bg-a300 { background: hsl(var(--accent300)); }
.bg-a400 { background: hsl(var(--accent400)); }
.bg-a500 { background: hsl(var(--accent500)); }
.bg-a600 { background: hsl(var(--accent600)); }
.bg-a700 { background: hsl(var(--accent700)); }
.bg-a800 { background: hsl(var(--accent800)); }
.bg-a900 { background: hsl(var(--accent900)); }