// Display elements differently or hide them from view

.d-n { display: none; }
.d-b { display: block; }
.d-ib { display: inline-block; }
.d-if { display: inline-flex; }

.vc { visibility: collapse; }
.vh { visibility: hidden; }
.vv { visibility: visible; }

// Hide
.h,
[data-hidden="true"] {
  position: absolute;
  top:  -9999px;
  left: -9999px;
}
