.g-3         { gap: var(--space-3 ); }
.g-2         { gap: var(--space-2 ); }
.g-1         { gap: var(--space-1 ); }
.g0          { gap: var(--space0  ); }
.g1          { gap: var(--space1  ); }
.g2          { gap: var(--space2  ); }
.g3          { gap: var(--space3  ); }
.g4          { gap: var(--space4  ); }
.g5          { gap: var(--space5  ); }
.g6          { gap: var(--space6  ); }
.g7          { gap: var(--space7  ); }
.g8          { gap: var(--space8  ); }
.g9          { gap: var(--space9  ); }
.g10         { gap: var(--space10 ); }
.g11         { gap: var(--space11 ); }
.g12         { gap: var(--space12 ); }

.gx-3 { column-gap: var(--space-3 ); }
.gx-2 { column-gap: var(--space-2 ); }
.gx-1 { column-gap: var(--space-1 ); }
.gx0  { column-gap: var(--space0  ); }
.gx1  { column-gap: var(--space1  ); }
.gx2  { column-gap: var(--space2  ); }
.gx3  { column-gap: var(--space3  ); }
.gx4  { column-gap: var(--space4  ); }
.gx5  { column-gap: var(--space5  ); }
.gx6  { column-gap: var(--space6  ); }
.gx7  { column-gap: var(--space7  ); }
.gx8  { column-gap: var(--space8  ); }
.gx9  { column-gap: var(--space9  ); }
.gx10 { column-gap: var(--space10 ); }
.gx11 { column-gap: var(--space11 ); }
.gx12 { column-gap: var(--space12 ); }

.gy-3    { row-gap: var(--space-3 ); }
.gy-2    { row-gap: var(--space-2 ); }
.gy-1    { row-gap: var(--space-1 ); }
.gy0     { row-gap: var(--space0  ); }
.gy1     { row-gap: var(--space1  ); }
.gy2     { row-gap: var(--space2  ); }
.gy3     { row-gap: var(--space3  ); }
.gy4     { row-gap: var(--space4  ); }
.gy5     { row-gap: var(--space5  ); }
.gy6     { row-gap: var(--space6  ); }
.gy7     { row-gap: var(--space7  ); }
.gy8     { row-gap: var(--space8  ); }
.gy9     { row-gap: var(--space9  ); }
.gy10    { row-gap: var(--space10 ); }
.gy11    { row-gap: var(--space11 ); }
.gy12    { row-gap: var(--space12 ); }