.center  { margin:              auto; }
.centerx { margin-inline:       auto; }
.centery { margin-block:        auto; }
.startx  { margin-inline-end:   auto; }
.starty  { margin-block-end:    auto; }
.endx    { margin-inline-start: auto; }
.endy    { margin-block-start:  auto; }