.p-3 { padding:         var(--space-3 ); }
.p-2 { padding:         var(--space-2 ); }
.p-1 { padding:         var(--space-1 ); }
.p0  { padding:         var(--space0  ); }
.p1  { padding:         var(--space1  ); }
.p2  { padding:         var(--space2  ); }
.p3  { padding:         var(--space3  ); }
.p4  { padding:         var(--space4  ); }
.p5  { padding:         var(--space5  ); }
.p6  { padding:         var(--space6  ); }
.p7  { padding:         var(--space7  ); }
.p8  { padding:         var(--space8  ); }
.p9  { padding:         var(--space9  ); }
.p10 { padding:         var(--space10 ); }
.p11 { padding:         var(--space11 ); }
.p12 { padding:         var(--space12 ); }

.px-3 { padding-inline: var(--space-3 ); }
.px-2 { padding-inline: var(--space-2 ); }
.px-1 { padding-inline: var(--space-1 ); }
.px0  { padding-inline: var(--space0  ); }
.px1  { padding-inline: var(--space1  ); }
.px2  { padding-inline: var(--space2  ); }
.px3  { padding-inline: var(--space3  ); }
.px4  { padding-inline: var(--space4  ); }
.px5  { padding-inline: var(--space5  ); }
.px6  { padding-inline: var(--space6  ); }
.px7  { padding-inline: var(--space7  ); }
.px8  { padding-inline: var(--space8  ); }
.px9  { padding-inline: var(--space9  ); }
.px10 { padding-inline: var(--space10 ); }
.px11 { padding-inline: var(--space11 ); }
.px12 { padding-inline: var(--space12 ); }

.py-3 { padding-block:  var(--space-3 ); }
.py-2 { padding-block:  var(--space-2 ); }
.py-1 { padding-block:  var(--space-1 ); }
.py0  { padding-block:  var(--space0  ); }
.py1  { padding-block:  var(--space1  ); }
.py2  { padding-block:  var(--space2  ); }
.py3  { padding-block:  var(--space3  ); }
.py4  { padding-block:  var(--space4  ); }
.py5  { padding-block:  var(--space5  ); }
.py6  { padding-block:  var(--space6  ); }
.py7  { padding-block:  var(--space7  ); }
.py8  { padding-block:  var(--space8  ); }
.py9  { padding-block:  var(--space9  ); }
.py10 { padding-block:  var(--space10 ); }
.py11 { padding-block:  var(--space11 ); }
.py12 { padding-block:  var(--space12 ); }

.pt-3 { padding-block-start:  var(--space-3 ); }
.pt-2 { padding-block-start:  var(--space-2 ); }
.pt-1 { padding-block-start:  var(--space-1 ); }
.pt0  { padding-block-start:  var(--space0  ); }
.pt1  { padding-block-start:  var(--space1  ); }
.pt2  { padding-block-start:  var(--space2  ); }
.pt3  { padding-block-start:  var(--space3  ); }
.pt4  { padding-block-start:  var(--space4  ); }
.pt5  { padding-block-start:  var(--space5  ); }
.pt6  { padding-block-start:  var(--space6  ); }
.pt7  { padding-block-start:  var(--space7  ); }
.pt8  { padding-block-start:  var(--space8  ); }
.pt9  { padding-block-start:  var(--space9  ); }
.pt10 { padding-block-start:  var(--space10 ); }
.pt11 { padding-block-start:  var(--space11 ); }
.pt12 { padding-block-start:  var(--space12 ); }

.pr-3 { padding-inline-end:  var(--space-3 ); }
.pr-2 { padding-inline-end:  var(--space-2 ); }
.pr-1 { padding-inline-end:  var(--space-1 ); }
.pr0  { padding-inline-end:  var(--space0  ); }
.pr1  { padding-inline-end:  var(--space1  ); }
.pr2  { padding-inline-end:  var(--space2  ); }
.pr3  { padding-inline-end:  var(--space3  ); }
.pr4  { padding-inline-end:  var(--space4  ); }
.pr5  { padding-inline-end:  var(--space5  ); }
.pr6  { padding-inline-end:  var(--space6  ); }
.pr7  { padding-inline-end:  var(--space7  ); }
.pr8  { padding-inline-end:  var(--space8  ); }
.pr9  { padding-inline-end:  var(--space9  ); }
.pr10 { padding-inline-end:  var(--space10 ); }
.pr11 { padding-inline-end:  var(--space11 ); }
.pr12 { padding-inline-end:  var(--space12 ); }

.pb-3 { padding-block-end:  var(--space-3 ); }
.pb-2 { padding-block-end:  var(--space-2 ); }
.pb-1 { padding-block-end:  var(--space-1 ); }
.pb0  { padding-block-end:  var(--space0  ); }
.pb1  { padding-block-end:  var(--space1  ); }
.pb2  { padding-block-end:  var(--space2  ); }
.pb3  { padding-block-end:  var(--space3  ); }
.pb4  { padding-block-end:  var(--space4  ); }
.pb5  { padding-block-end:  var(--space5  ); }
.pb6  { padding-block-end:  var(--space6  ); }
.pb7  { padding-block-end:  var(--space7  ); }
.pb8  { padding-block-end:  var(--space8  ); }
.pb9  { padding-block-end:  var(--space9  ); }
.pb10 { padding-block-end:  var(--space10 ); }
.pb11 { padding-block-end:  var(--space11 ); }
.pb12 { padding-block-end:  var(--space12 ); }

.pl-3 { padding-inline-start:  var(--space-3 ); }
.pl-2 { padding-inline-start:  var(--space-2 ); }
.pl-1 { padding-inline-start:  var(--space-1 ); }
.pl0  { padding-inline-start:  var(--space0  ); }
.pl1  { padding-inline-start:  var(--space1  ); }
.pl2  { padding-inline-start:  var(--space2  ); }
.pl3  { padding-inline-start:  var(--space3  ); }
.pl4  { padding-inline-start:  var(--space4  ); }
.pl5  { padding-inline-start:  var(--space5  ); }
.pl6  { padding-inline-start:  var(--space6  ); }
.pl7  { padding-inline-start:  var(--space7  ); }
.pl8  { padding-inline-start:  var(--space8  ); }
.pl9  { padding-inline-start:  var(--space9  ); }
.pl10 { padding-inline-start:  var(--space10 ); }
.pl11 { padding-inline-start:  var(--space11 ); }
.pl12 { padding-inline-start:  var(--space12 ); }