// Out- and in-facing shadows to create verticality

// Blur, in and out
.bi-2 { box-shadow: var(--inblur-2 ); }
.bo-2 { box-shadow: var(--outblur-2); }
.bi-1 { box-shadow: var(--inblur-1 ); }
.bo-1 { box-shadow: var(--outblur-1); }
.bi0  { box-shadow: var(--inblur0  ); }
.bo0  { box-shadow: var(--outblur0 ); }
.bi1  { box-shadow: var(--inblur1  ); }
.bo1  { box-shadow: var(--outblur1 ); }
.bi2  { box-shadow: var(--inblur2  ); }
.bo2  { box-shadow: var(--outblur2 ); }

// Solid, out
.so-2 { box-shadow: var(--outsolid-2); }
.so-1 { box-shadow: var(--outsolid-1); }
.so0  { box-shadow: var(--outsolid0 ); }
.so1  { box-shadow: var(--outsolid1 ); }
.so2  { box-shadow: var(--outsolid2 ); }
