/* Font color */
.fc-p050 { color: hsl(var(--primary050)); }
.fc-p100 { color: hsl(var(--primary100)); }
.fc-p200 { color: hsl(var(--primary200)); }
.fc-p300 { color: hsl(var(--primary300)); }
.fc-p400 { color: hsl(var(--primary400)); }
.fc-p500 { color: hsl(var(--primary500)); }
.fc-p600 { color: hsl(var(--primary600)); }
.fc-p700 { color: hsl(var(--primary700)); }
.fc-p800 { color: hsl(var(--primary800)); }
.fc-p900 { color: hsl(var(--primary900)); }

.fc-n050 { color: hsl(var(--neutral050)); }
.fc-n100 { color: hsl(var(--neutral100)); }
.fc-n200 { color: hsl(var(--neutral200)); }
.fc-n300 { color: hsl(var(--neutral300)); }
.fc-n400 { color: hsl(var(--neutral400)); }
.fc-n500 { color: hsl(var(--neutral500)); }
.fc-n600 { color: hsl(var(--neutral600)); }
.fc-n700 { color: hsl(var(--neutral700)); }
.fc-n800 { color: hsl(var(--neutral800)); }
.fc-n900 { color: hsl(var(--neutral900)); }

.fc-a050 { color: hsl(var(--accent050)); }
.fc-a100 { color: hsl(var(--accent100)); }
.fc-a200 { color: hsl(var(--accent200)); }
.fc-a300 { color: hsl(var(--accent300)); }
.fc-a400 { color: hsl(var(--accent400)); }
.fc-a500 { color: hsl(var(--accent500)); }
.fc-a600 { color: hsl(var(--accent600)); }
.fc-a700 { color: hsl(var(--accent700)); }
.fc-a800 { color: hsl(var(--accent800)); }
.fc-a900 { color: hsl(var(--accent900)); }


/* Font family */
.ffsans { font-family: var(--sans) }
.ffserif { font-family: var(--serif) }


/* Font size */
.fs-2 { font-size: var(--step-2); }
.fs-1 { font-size: var(--step-1); }
.fs0  { font-size: var(--step0 ); }
.fs1  { font-size: var(--step1 ); }
.fs2  { font-size: var(--step2 ); }
.fs3  { font-size: var(--step3 ); }
.fs4  { font-size: var(--step4 ); }
.fs5  { font-size: var(--step5 ); }
.fs6  { font-size: var(--step6 ); }
.fs7  { font-size: var(--step7 ); }


/* Font weight */
.fw400 { font-weight: var(--weight400); }
.fw700 { font-weight: var(--weight700); }


/* Line height */
.lhbody { line-height: var(--linebody) }
.lhhead { line-height: var(--linehead) }