{% extends 'base.html' %}
{% block body %}
{% include 'partials/header.html' %}
<main>
  <article class=" [ post ] [ squeeze12 stack ] [ cx g2 ]">
    <!-- Article header -->
    <div class="[ flow1 ]">
      <div class="[ flow1/3 ]">
        <h1>{{ title }}</h1>
        {% if subtitle %}<p class="fs2">{{ subtitle | capitalize }}</p>{% endif %}
      </div>
      <div class="[ flow1/2 ] [ fs-1 ]">
        {% if locale == 'en' %}
        <p>Author: {{ author }}</p>
        {% else %}
        <p>Autor: {{ author }}</p>
        {% endif %}
        <p>
          {{ readTime }}
          {% if locale == 'en' %} minute read
          {% else %} minutos de lectura
          {% endif %}
        </p>
        <p class="[ fs-1 ]">
        </p>
      </div>
    </div>
    <!-- Article body -->
    <div class="[ flow3/2 ]">
      {{ content | safe }}
    </div>
  </article>
</main>

{% include 'partials/footer.html' %}

<!-- Render and update the progress bar -->
<script>
  'use strict';

  // Create the progress bar
  const body = document.querySelector('body');
  const progressBar = document.createElement('div');
  progressBar.style.cssText = 'display: block; content: ""; border-top: var(--border1) solid hsl(var(--primary300)); position: fixed; top: 0; left: 0; width: 0vw; border-radius: 0 var(--radius-2) var(--radius-2) 0;';
  body.append(progressBar);

  // Update the width accordingly
  const headerHeight = document.querySelector('header').scrollHeight;
  const windowHeight = window.innerHeight;
  const postHeight = body.scrollHeight - headerHeight - windowHeight;
  window.addEventListener('scroll', () => {
    console.log(window.scrollY - headerHeight);
    if (window.scrollY - headerHeight >= 0) {
      progressBar.style.width = `calc(${(window.scrollY - headerHeight) / postHeight * 100}vw + (var(--radius-2) / 2))`;
    } else {
      progressBar.style.width = '0vw';
    }
  });
</script>
{% endblock %}
