{% extends 'base.html' %}
{% block body %}
{% include 'partials/header.html' %}
<main>
  <article class=" [ post ] [ squeeze11 centerx flow3/2 ]">
    <div>
      <h1>{{ title | capitalize }}</h1>
      {% if subtitle %}<p class="fs2">{{ subtitle | capitalize }}</p>{% endif %}
    </div>
    {{ content | safe }}
  </article>
</main>
{% include 'partials/footer.html' %}

<!-- Render and update the progress bar -->
<script>
  'use strict';

  // Create the progress bar
  const body = document.querySelector('body');
  const progressBar = document.createElement('div');
  progressBar.style.cssText = 'display: block; content: ""; border-top: var(--border1) solid var(--primary300); position: fixed; top: 0; left: 0; width: 0vw;';
  body.append(progressBar);

  // Update the width accordingly
  const headerHeight = document.querySelector('header').scrollHeight;
  const windowHeight = window.innerHeight;
  const postHeight = body.scrollHeight - headerHeight - windowHeight;
  window.addEventListener('scroll', () => {
    console.log(window.scrollY - headerHeight);
    if (window.scrollY - headerHeight >= 0) {
      progressBar.style.width = `${(window.scrollY - headerHeight) / postHeight * 100}vw`;
    } else {
      progressBar.style.width = '0vw';
    }
  });
</script>
{% endblock %}
