---
translationKey: csaw
title: El ensayo CSAW
permalink: /{{ locale }}/csaw/
description: Los hallazgos de este ensayo clínico plantean un verdadero desafío a la comprensión y el tratamiento tradicionales del dolor subacromial de hombro.
---
{% extends 'base.html' %}
{% block body %}
<main class="[ bg-p100 ]">
  <div class="[ squeeze12 stack ] [ cx nmy0 g4 ]">
    <section class="[ stack ] [ g2 ]">
      <div class="[ flow1/2 ]">
        <h1>¿Puede funcionar la artroscopia de hombro?</h1>
        <p class="[ fs2 ]"><em>El ensayo CSAW</em></p>
      </div>
      <div class="[ cluster ] [ jb g2 fs-1 ]">
        <div class="[ image ] [ frame1:1 squeeze7 ]"><img src="/assets/img/csaw-pain.jpg" alt=""></div>
        <div class="[ flow2 ] [ pl0 bdl-1 bd-p500 ]">
          <p>Si tú o alguien que conoces sufre con dolor de hombro, tomar una decisión informada sobre qué opciones de tratamiento seguir puede resultar difícil. La cirugía es una opción frecuentemente recomendada para tratar una afección que todavía se conoce popularmente como <em>pinzamiento subacromial</em>.</p>
          <p>Este ensayo clínico referente evaluó la eficacia de la descompresión subacromial, un procedimiento que se realiza habitualmente, comparándola con una cirugía placebo (falsa), así como con ningún tratamiento. Los hallazgos plantean un verdadero desafío a la comprensión y el tratamiento tradicionales del dolor subacromial de hombro.</p>
        </div>
      </div>
    </section>

    <div class="[ bdt0 bd-p200 ]"></div>

    <section class="[ switcher10 ] [ g2 ]">
      <h2 class="[ h ]">Criterios de inclusión y exclusión</h2>
      <div class="[ flow3/2 squeezebody ] [ ]">
        <h3>¿A quién <span class="[ bdb-1 bd-n900 ]">se incluyó</span>?</h3>
        <ul class="[ list-bullet ] [ flow1/2 ]">
          <li>Dolor subacromial durante 3+ meses</li>
          <li>Tendones del manguito rotador intactos</li>
          <li>Apto para cirugía artroscópica</li>
          <li>Completado un programa no quirúrgico consistente en ejercicio más 1+ inyección</li>
        </ul>
      </div>
      <div class="[ flow3/2 squeezebody ] [ ]">
        <h3>¿A quién <span class="[ bdb-1 bd-n900 ]">se excluyó</span>?</h3>
        <ul class="[ list-bullet ] [ flow1/2 ]">
          <li>Rotura completa del manguito rotador</li>
          <li>Roturas parciales se registraron pero no se excluyeron.</li>
        </ul>
      </div>
    </section>

    <div class="[ bdt0 bd-p200 ]"></div>

    <section class="[ stack ] [ tc g0 fc-p100 ]">
      <div class="[ squeeze9 ] [ cx px2 py0 bg-n900 ]">
        <p class="[ fs4 fw700 ]">313 sujetos</p>
      </div>
      <div class="[ cluster ] [ ic jc g0 fc-p300 fs0 ]">
        <p class="[ squeeze6 ] [ e te ]">Repartidos</p>
        <div class="[ stack ] [ ic ]">
          <div class="[ sc py2 bdl-1 bd-p300 bg-p300 ]"></div>
        </div>
        <p class="[ squeeze6 ] [ e ts ]">en 3 grupos</p>
      </div>
      <div class="[ switcher11 ] [ g0 ]">
        <div class="[ stack ] [ ]">
          <div class="[ flow1/2 stack ] [ ic py0 bg-p500 ]">
            <h3 class="[ fs1 ]">Descompresión</h3>
            <p>Cirugía real</p>
          </div>
          <div class="[ switcher6 ]">
            <div class="[ py-2 bg-n900 fc-n100 fs-1 ]">
              <p><strong class="[ fs0 ]">53</strong><br>Edad</p>
            </div>
            <div class="[ py-2 bg-n900 fc-n100 fs-1 ]">
              <p><strong class="[ fs0 ]">51%</strong><br>Mujeres</p>
            </div>
          </div>
        </div>
        <div class="[ stack ] [ ]">
          <div class="[ flow1/2 stack ] [ ic py0 bg-p500 ]">
            <h3 class="[ fs1 ]">Artroscopia</h3>
            <p>Cirugía placebo</p>
          </div>
          <div class="[ switcher6 ]">
            <div class="[ py-2 bg-n900 fc-n100 fs-1 ]">
              <p><strong class="[ fs0 ]">54</strong><br>Edad</p>
            </div>
            <div class="[ py-2 bg-n900 fc-n100 fs-1 ]">
              <p><strong class="[ fs0 ]">50%</strong><br>Mujeres</p>
            </div>
          </div>
        </div>
        <div class="[ stack ] [ ]">
          <div class="[ flow1/2 stack ] [ ic py0 bg-p500 ]">
            <h3 class="[ fs1 ]">Ningún tratamiento</h3>
            <p>Grupo de control</p>
          </div>
          <div class="[ switcher6 ]">
            <div class="[ py-2 bg-n900 fc-n100 fs-1 ]">
              <p><strong class="[ fs0 ]">53</strong><br>Edad</p>
            </div>
            <div class="[ py-2 bg-n900 fc-n100 fs-1 ]">
              <p><strong class="[ fs0 ]">50%</strong><br>Mujeres</p>
            </div>
          </div>
        </div>
      </div>
      <div class="[ switcher10 ] [ gx0 gy-3 ]">
        <div class="[ pt2 fc-n900 fs3 ]">
          Operados en<br><strong>30 centros</strong>
        </div>
        <div class="[ pt2 fc-n900 fs3 ]">
          Tratados por<br><strong>38 cirujanos</strong>
        </div>
      </div>
    </section>

    <div class="[ bdt0 bd-p200 ]"></div>

    <section class="[ flow2 squeezebody ] [ cx ]">
      <h2 class="[ tc fs4 ]">La descompresión no es mejor que la cirugía placebo.</h2>
      <div class="[ image ]"><img src="/assets/img/csaw-results-es.png" alt=""></div>
      <p>Los dos grupos de cirugía se mejoraron su Oxford Shoulder Score* comparados con los que no se sometieron a tratamiento, pero la descompresión <strong>no superó</strong> a la artroscopia.</p>
      <p class="[ fs-2 ]"><i>* El Oxford Shoulder Score un cuestionario de 48 puntos que mide la función del hombro.</i></p>
    </section>

    <div class="[ bdt0 bd-p200 ]"></div>

    <section class="[ sidebar ] [ ic rr gx4 gy2 ]">
      <div class="[ main50% stack ]">
        <h2 class="[ h ]">Implications</h2>
        <div class="[ flow1 ] [ p2 bg-n700 fc-n200 ]">
          <h3>Una interpretación</h3>
          <p>Tanto la descompresión como la artroscopia son eficaces y podrían considerarse estrategias de tratamiento del dolor subacromial.</p>
        </div>
        <div class="[ flow1 ] [ p2 bg-n900 fc-p100 ]">
          <h3>Más probable</h3>
          <p>La cirugía, aunque <em>estadísticamente</em> mejor que ningún tratamiento, no proporciona a los pacientes con dolor subacromial un beneficio <em>clínicamente</em> significativo.</p>
        </div>
      </div>
      <div class="[ flow2 side7 ] [ pl0 bdl-1 bd-p500 fs-1 ]">
      <p><strong>Pacientes con dolor de hombro:</strong><br>Comente este estudio con tu profesional sanitario de confianza. Pregúntale sobre los riesgos, los beneficios y las pruebas que respaldan las distintas opciones de tratamiento. Colaborad para tomar una decisión informada que sea adecuada para ti.</p>
      <p><strong>Profesionales sanitarios:</strong><br>Las terapias invasivas pueden ser potentes, pero no se debe dar por hecho la validez de los procedimientos establecidos. Habla con tus pacientes sobre la evidencia vinculada con la cirugía para su condición. Colaborad para tomar una decisión informada que sea adecuada para el paciente.</p>
    </div>
    </section>

    <div class="[ bdt0 bd-p200 ]"></div>

    <div class="[ cluster ] [ ie jb gx4 gy2 ]">
      <div class="[ flow2 ] [ fs-1 ]">
        <h2>Referencias</h2>
        <p>Beard DJ, Rees JL, Cook JA, et al. Arthroscopic subacromial decompression for subacromial shoulder pain (CSAW): a multicentre, pragmatic, parallel group, placebo-controlled, three-group, randomised surgical trial. Lancet. 2018;391(10118):329-338.</p>
        <p class="[ fs0 ]"><a href="/{{ locale }}/">🡨 Volver al inicio</a></p>
      </div>
      {% include 'partials/translations.html' %}
    </div>
  </div>
</main>
{% endblock %}
