---
translationKey: home
title: Inicio
permalink: /es/
description: The pain revolution is here. Whether you're a health professional, a person with pain, or just curious, BEVAE makes it easy to learn about the nature of pain and modern pain management principles.
---
{% extends 'base.html' %}
{% block body %}
{% include 'partials/header.html' %}
<main>
  <div class="[ squeeze12 stack ] [ cx g4 ]">
    {% include 'partials/homeIntro.html' %}
    <div class="[ switcher11 ] [ g3 ]">
      {% set posts = collections[locale + '_articles'] %}
      <section class="[ flow2 ]">
        <h2 class="[ h-fancy ]">Para clínic@s</h2>
        <div class="[ flow1/3 ]">
          <h3>Entradas</h3>
          <ul class="[ flow1/3 ]">
            {% for entry in posts %}
            {% if entry.data.audience == 'clinicians' %}
            <li><a href="{{ entry.url }}">{{ entry.data.title }}{% if entry.data.subtitle %}: {{ entry.data.subtitle }}{% endif %}</a>{% if entry.data.description %} - {{ entry.data.description }}{%endif %}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="[ flow1/3 ]">
          <h3>Formularios</h3>
          <ul>
            <li><a href="/es/formularios/oemsq-12">ÖMSQ-12</a> - Un cuestionario práctico de cribaje en las dolencias musculoesqueléticas, adaptado y traducido de <i>Gabel et al. 2013.</i><strong> Aún no se ha validado en español.</strong></li>
          </ul>
        </div>
      </section>
      <section class="[ flow2 ]">
        <h2 class="[ h-fancy ]">Para pacientes</h2>
        <div class="[ flow1/3 ]">
          <h3>Entradas</h3>
          <ul class="[ flow1/3 ]">
            {% for entry in posts %}
            {% if entry.data.audience == 'patients' %}
            <li><a href="{{ entry.url }}">{{ entry.data.title }}{% if entry.data.subtitle %}: {{ entry.data.subtitle }}{% endif %}</a>{% if entry.data.description %} - {{ entry.data.description }}{%endif %}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </section>
    </div>
    <section class="[ flow2 ]">
      <h2 class="[ h-fancy ]">Proyectos</h2>
      <div class="[ flow1/3 ]">
        <h3>Club de investigación</h3>
        <p><a href="/es/club/">Haz clic aquí</a> para ver información sobre el club de investigación de la Facultad de Medicina de USP CEU.</p>
      </div>
    </section>
  </div>
</main>
{% include 'partials/footer.html' %}
{% endblock %}
