---
title: ÖMSQ-12
description:
---
{% extends 'base.html' %}
{% block body %}
{% include 'partials/header.html' %}
<main class="[ flow1 squeeze10 centerx stack g1 ] [ px0 pt0 pb5 ]">
  <h1 class="centerx">ÖMSQ-12</h1>
  <form netlify netlify-honeypot="bot-field" action="/exito/" class="stack g3 itemscenter" name="omsq-12_es">
    <div class="stack g0">
      <input type="hidden" name="subject" value="[BEVAE] Formulario rellenado: ÖMSQ-12">
      <label data-hidden="true">¡No rellenes este campo si eres humano!
        <input name="bot-field">
      </label>
      <input required name="fecha" type="date" style="display:none">
      <label>Nombre y apellidos<br>
        <input required name="nombre" type="text">
      </label>
      <label>Dónde está / de qué<br>trata tu problema<br>
        <input required name="problema" type="text">
      </label>
    </div>

    <fieldset>
      <legend>Háblanos sobre tu dolor o problema.</legend>
      <ol class="stack g3">
        <li class="stack g-1">
          <p>¿Hace cuánto tiempo empezó tu dolor o problema?</p>
          <div class="grid5 gy-1">
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q1" type="radio" value="1"> 0-1 semanas</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q1" type="radio" value="2"> 1-2 semanas</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q1" type="radio" value="3"> 3-4 semanas</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q1" type="radio" value="4"> 4-5 semanas</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q1" type="radio" value="5"> 6-8 semanas</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q1" type="radio" value="6"> 9-11 semanas</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q1" type="radio" value="7"> 3-6 meses</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q1" type="radio" value="8"> 6-9 meses</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q1" type="radio" value="9"> 9-12 meses</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q1" type="radio" value="10"> más que 1 año</label>
          </div>
        </li>
        <li class="stack g-1">
          <p>Valora cuánto te cuesta llevar a cabo todas tus actividades diarias.<br><em class="fs-1">0 = para nada, 10 = completamente</em></p>
          <div class="grid1 gy-1">
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q2" re type="radio" value="0">0</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q2" re type="radio" value="1">1</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q2" re type="radio" value="2">2</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q2" re type="radio" value="3">3</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q2" re type="radio" value="4">4</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q2" re type="radio" value="5">5</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q2" re type="radio" value="6">6</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q2" re type="radio" value="7">7</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q2" re type="radio" value="8">8</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q2" re type="radio" value="9">9</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q2" re type="radio" value="10">10</label>
          </div>
        </li>
        <li class="stack g-1">
          <p>En los últimos 2-3 días, valora cuánta molestia te ha causado tu dolor o problema.<br><em class="fs-1">0 = para nada, 10 = completamente</em></p>
          <div class="grid1 gy-1">
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q3" type="radio" value="0">0</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q3" type="radio" value="1">1</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q3" type="radio" value="2">2</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q3" type="radio" value="3">3</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q3" type="radio" value="4">4</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q3" type="radio" value="5">5</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q3" type="radio" value="6">6</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q3" type="radio" value="7">7</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q3" type="radio" value="8">8</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q3" type="radio" value="9">9</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q3" type="radio" value="10">10</label>
          </div>
        </li>
        <li class="stack g-1">
          <p>En los últimos 2-3 días, apróximadamente, ¿qué porcentage del día ocupa tu dolor o problema?<br><em class="fs-1">0 = nunca, 100 = constantemente</em></p>
          <div class="grid1 gy-1">
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q4" type="radio" value="0">0</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q4" type="radio" value="1">10</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q4" type="radio" value="2">20</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q4" type="radio" value="3">30</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q4" type="radio" value="4">40</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q4" type="radio" value="5">50</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q4" type="radio" value="6">60</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q4" type="radio" value="7">70</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q4" type="radio" value="8">80</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q4" type="radio" value="9">90</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q4" type="radio" value="10">100</label>
          </div>
        </li>
      </ol>
    </fieldset>





    <fieldset>
      <legend>También necesitamos información sobre tus pensamientos y sensaciones.</legend>
      <ol class="stack g3" start="5">
        <li class="stack g-1">
          <p>Durante los últimos 2-3 días, valora el nivel de tensión o ansiedad que has experimentado.<br><em class="fs-1">0 = para nada, 10 = completamente</em></p>
          <div class="grid1 gy-1">
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q5" type="radio" value="0">0</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q5" type="radio" value="1">1</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q5" type="radio" value="2">2</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q5" type="radio" value="3">3</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q5" type="radio" value="4">4</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q5" type="radio" value="5">5</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q5" type="radio" value="6">6</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q5" type="radio" value="7">7</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q5" type="radio" value="8">8</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q5" type="radio" value="9">9</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q5" type="radio" value="10">10</label>
          </div>
        </li>
        <li class="stack g-1">
          <p>Durante los últimos 2-3 días, valora cómo de "deprimido" o "de bajón" te has sentido.<br><em class="fs-1">0 = para nada, 10 = completamente</em></p>
          <div class="grid1 gy-1">
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q6" type="radio" value="0">0</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q6" type="radio" value="1">1</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q6" type="radio" value="2">2</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q6" type="radio" value="3">3</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q6" type="radio" value="4">4</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q6" type="radio" value="5">5</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q6" type="radio" value="6">6</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q6" type="radio" value="7">7</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q6" type="radio" value="8">8</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q6" type="radio" value="9">9</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q6" type="radio" value="10">10</label>
          </div>
        </li>
        <li class="stack g-1">
          <p>¿Qué riesgo crees que conlleva que tu dolor o problema <span style="text-decoration: underline;">no</span> mejore?<br><em class="fs-1">0 = ningún riesgo, 10 = gran riesgo</em></p>
          <div class="grid1 gy-1">
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q7" type="radio" value="0">0</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q7" type="radio" value="1">1</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q7" type="radio" value="2">2</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q7" type="radio" value="3">3</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q7" type="radio" value="4">4</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q7" type="radio" value="5">5</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q7" type="radio" value="6">6</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q7" type="radio" value="7">7</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q7" type="radio" value="8">8</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q7" type="radio" value="9">9</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q7" type="radio" value="10">10</label>
          </div>
        </li>
        <li class="stack g-1">
          <p>Piensa en tu día a día. Valora cómo estás de satisfecho con tu situación actual.<br><em class="fs-1">0 = para nada, 10 = completamente</em></p>
          <div class="grid1 gy-1">
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q8" type="radio" value="0">0</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q8" type="radio" value="1">1</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q8" type="radio" value="2">2</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q8" type="radio" value="3">3</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q8" type="radio" value="4">4</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q8" type="radio" value="5">5</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q8" type="radio" value="6">6</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q8" type="radio" value="7">7</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q8" type="radio" value="8">8</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q8" type="radio" value="9">9</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q8" type="radio" value="10">10</label>
          </div>
        </li>
      </ol>
    </fieldset>





    <fieldset>
      <legend>¿Cómo son de ciertas estas afirmaciones para tí?</legend>
      <ol class="stack g3" start="9">
        <li class="stack g-1">
          <p>La actividad físicas hace que mi dolor o problema empeore.<br><em class="fs-1">0 = para nada, 10 = completamente</em></p>
          <div class="grid1 gy-1">
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q9" type="radio" value="0">0</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q9" type="radio" value="1">1</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q9" type="radio" value="2">2</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q9" type="radio" value="3">3</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q9" type="radio" value="4">4</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q9" type="radio" value="5">5</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q9" type="radio" value="6">6</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q9" type="radio" value="7">7</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q9" type="radio" value="8">8</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q9" type="radio" value="9">9</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q9" type="radio" value="10">10</label>
          </div>
        </li>
        <li class="stack g-1">
          <p>No debería llevar a cabo mi rutina diaria o trabajar con mi dolor o problema actual.<br><em class="fs-1">0 = para nada, 10 = completamente</em></p>
          <div class="grid1 gy-1">
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q10" type="radio" value="0">0</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q10" type="radio" value="1">1</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q10" type="radio" value="2">2</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q10" type="radio" value="3">3</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q10" type="radio" value="4">4</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q10" type="radio" value="5">5</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q10" type="radio" value="6">6</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q10" type="radio" value="7">7</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q10" type="radio" value="8">8</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q10" type="radio" value="9">9</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q10" type="radio" value="10">10</label>
          </div>
        </li>
      </ol>
    </fieldset>





    <fieldset>
      <legend>Ayúdanos a conocer mejor tus capacidades físicas.</legend>
      <ol class="stack g3" start="11">
        <li class="stack g-1">
          <p>Puedo andar durante 1 hora o realizar mis actividades deportivas/recreativas <span style="text-decoration: underline;">ligeras</span>.<br><em class="fs-1">0 = para nada, 10 = completamente normal</em></p>
          <div class="grid1 gy-1">
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q11" type="radio" value="0">0</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q11" type="radio" value="1">1</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q11" type="radio" value="2">2</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q11" type="radio" value="3">3</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q11" type="radio" value="4">4</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q11" type="radio" value="5">5</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q11" type="radio" value="6">6</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q11" type="radio" value="7">7</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q11" type="radio" value="8">8</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q11" type="radio" value="9">9</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q11" type="radio" value="10">10</label>
          </div>
        </li>
        <li class="stack g-1">
          <p>Gestiono mi rutina diaria y actividades sociales (ir de compras, movilizarme de un sitio a otro, quedar con amigos, etc.)<br><em class="fs-1">0 = para nada, 10 = completamente normal</em></p>
          <div class="grid1 gy-1">
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q12" type="radio" value="0">0</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q12" type="radio" value="1">1</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q12" type="radio" value="2">2</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q12" type="radio" value="3">3</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q12" type="radio" value="4">4</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q12" type="radio" value="5">5</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q12" type="radio" value="6">6</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q12" type="radio" value="7">7</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q12" type="radio" value="8">8</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q12" type="radio" value="9">9</label>
            <label class="[ stack itemscenter ] [ fs-1 ]"><input required name="q12" type="radio" value="10">10</label>
          </div>
        </li>
      </ol>
    </fieldset>

    <input id="total" name="total" type="number" value="0" style="display:none">

    <button class="px2 py-2 fs1 fw700" type="submit">Enviar</button>

  </form>
</main>

<script>
  'use strict';

  // Set date field to current date automagically
  const dateControl = document.querySelector('input[type="date"]');
  dateControl.valueAsDate = new Date();

  // Get total score and export it with the form
  const form = document.querySelector('form');
  const totalField = document.querySelector('#total');
  form.addEventListener('click', () => {
    let questions = Array.from(document.querySelectorAll('input[name^="q"]:checked'));
    let questionValues = questions.map(element => {
      if (element.name === 'q8' || element.name === 'q11') return 10 - parseInt(element.value);
      return parseInt(element.value);
    });
    let totalSum = questionValues.reduce((prev, curr) => prev + curr);
    totalField.setAttribute('value', totalSum);
  });
</script>
{% endblock %}