// Fundamental units of web design, good for scaffolding

.box {
  padding: var(--space-2);
  border: var(--border-2) dashed hsl(var(--neutral400));
  color: hsl(var(--neutral700));
  background: hsl(var(--neutral200));

  & > * { color: inherit; }

  &[data-box="invert"] {
    border: var(--border-2) dashed hsl(var(--neutral400));
    color: hsl(var(--neutral200));
    background: hsl(var(--neutral700));
  }

  // Accessibility outline for high-contrast mode
  outline: .25rem solid transparent;
  outline-offset: -.25rem;

}
