.breakout7, 
.breakout8, 
.breakout9, 
.breakout10,
.breakout11,
.breakout12 {
  margin-inline-start: 50%;
  transform: translateX(-50%);
}


/*
.breakout7  { inline-size: var(--space7 ); }
.breakout8  { inline-size: var(--space8 ); }
.breakout9  { inline-size: var(--space9 ); }
.breakout10 { inline-size: var(--space10); }
.breakout11 { inline-size: var(--space11); }
.breakout12 { inline-size: var(--space12); }
*/