.flow1\/3 > * + * { margin-block-start: .33em; }
.flow1\/2 > * + * { margin-block-start:  .5em; }
.flow2\/3 > * + * { margin-block-start: .67em; }
.flow1    > * + * { margin-block-start:   1em; }
.flow3\/2 > * + * { margin-block-start: 1.5em; }
.flow2    > * + * { margin-block-start:   2em; }
.flow3    > * + * { margin-block-start:   3em; }