// Make sure inline SVG icons align correctly with text

// For icons with accompanying text (put the class on the parent)
.icon {
  display: inline-flex;
  align-items: baseline;

  svg {
    height: .75em;
    height: 1cap;
    width: .75em;
    width: 1cap;
  }

  // Lines up better with lowercase-only text
  &[data-icon="lowercase"] svg {
    width: 1ex;
    height: 1ex;
  }
}
