// Horizontally scrollable collection of slides

// For more ideas see http://1mb.club/blog/hamburger-menu-alternative/
// and https://lea.verou.me/2012/04/background-attachment-local/

.reel,
.reel-3,
.reel-2,
.reel-1,
.reel0,
.reel1,
.reel2,
.reel3,
.reel4,
.reel5,
.reel6,
.reel7 {
  display: flex;
  block-size: auto;
  max-inline-size: 100vw;
  overflow-x: auto;
  overflow-y: hidden;

  & > img {
    block-size: 100%;
    flex-basis: auto;
    width: auto;
  }

  // Ensure dynamic width children
  & > * { flex: 0 0 auto; }

  // Adds a shadow to the sides of the reel
  &[data-reel="shadow"] {
   box-shadow: inset 12px 0 16px -16px hsla(var(--neutral900), 0.5), inset -12px 0 16px -16px hsla(var(--neutral900), 0.5);
  }

  // // First value thumb, second value track
  // scrollbar-color: var(--clr-primary) var(--bg-secondary);

  // // Comment out to remove scrollbar on Firefox
  // scrollbar-width: none;

  // "Display: none" hides the scrollbar
  &::-webkit-scrollbar { block-size: .5rem; }

  &::-webkit-scrollbar-track {
    background-color: hsl(var(--neutral100));
    border: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(var(--neutral300));
    &:hover { background-color: hsl(var(--neutral400)); }

    // // Insets the thumb (adds top/bottom margin)
    // background-image: linear-gradient(var(--bg-secondary) 0,
    //                                   var(--bg-secondary) 0.25rem,
    //                                   var(--clr-primary) .25rem,
    //                                   var(--clr-primary) .75rem,
    //                                   var(--bg-secondary) 0.75rem);
  }
}

// Add a gap between and correct for asymmetric margin
.reel-3 {
  & > * { margin-inline-start: var(--space-3); margin-inline-end: 0; }
  &::after { content: ''; flex: 0 0 var(--space-3); }
}
.reel-2 {
  & > * { margin-inline-start: var(--space-2); margin-inline-end: 0; }
  &::after { content: ''; flex: 0 0 var(--space-2); }
}
.reel-1 {
  & > * { margin-inline-start: var(--space-1); margin-inline-end: 0; }
  &::after { content: ''; flex: 0 0 var(--space-1); }
}
.reel0 {
  & > * { margin-inline-start: var(--space0); margin-inline-end: 0; }
  &::after { content: ''; flex: 0 0 var(--space0); }
}
.reel1 {
  & > * { margin-inline-start: var(--space1); margin-inline-end: 0; }
  &::after { content: ''; flex: 0 0 var(--space1); }
}
.reel2 {
  & > * { margin-inline-start: var(--space2); margin-inline-end: 0; }
  &::after { content: ''; flex: 0 0 var(--space2); }
}
.reel3 {
  & > * { margin-inline-start: var(--space3); margin-inline-end: 0; }
  &::after { content: ''; flex: 0 0 var(--space3); }
}
.reel4 {
  & > * { margin-inline-start: var(--space4); margin-inline-end: 0; }
  &::after { content: ''; flex: 0 0 var(--space4); }
}
.reel5 {
  & > * { margin-inline-start: var(--space5); margin-inline-end: 0; }
  &::after { content: ''; flex: 0 0 var(--space5); }
}
.reel6 {
  & > * { margin-inline-start: var(--space6); margin-inline-end: 0; }
  &::after { content: ''; flex: 0 0 var(--space6); }
}
.reel7 {
  & > * { margin-inline-start: var(--space7); margin-inline-end: 0; }
  &::after { content: ''; flex: 0 0 var(--space7); }
}

