.squeeze1  { box-sizing: content-box; max-inline-size: var(--space1 ); }
.squeeze2  { box-sizing: content-box; max-inline-size: var(--space2 ); }
.squeeze3  { box-sizing: content-box; max-inline-size: var(--space3 ); }
.squeeze4  { box-sizing: content-box; max-inline-size: var(--space4 ); }
.squeeze5  { box-sizing: content-box; max-inline-size: var(--space5 ); }
.squeeze6  { box-sizing: content-box; max-inline-size: var(--space6 ); }
.squeeze7  { box-sizing: content-box; max-inline-size: var(--space7 ); }
.squeeze8  { box-sizing: content-box; max-inline-size: var(--space8 ); }
.squeeze9  { box-sizing: content-box; max-inline-size: var(--space9 ); }
.squeeze10 { box-sizing: content-box; max-inline-size: var(--space10); }
.squeeze11 { box-sizing: content-box; max-inline-size: var(--space11); }
.squeeze12 { box-sizing: content-box; max-inline-size: var(--space12); }