.switcher7,
.switcher8,
.switcher9,
.switcher10,
.switcher11,
.switcher12 { display: flex; flex-wrap: wrap; }


.switcher7  > * { flex: 1 1 calc((var(--space7 ) - 100%) * 999); }
.switcher8  > * { flex: 1 1 calc((var(--space8 ) - 100%) * 999); }
.switcher9  > * { flex: 1 1 calc((var(--space9 ) - 100%) * 999); }
.switcher10 > * { flex: 1 1 calc((var(--space10) - 100%) * 999); }
.switcher11 > * { flex: 1 1 calc((var(--space11) - 100%) * 999); }
.switcher12 > * { flex: 1 1 calc((var(--space12) - 100%) * 999); }


/* On children */
.grow1\/4 { flex-grow:  .25; }
.grow1\/3 { flex-grow: .333; }
.grow1\/2 { flex-grow:   .5; }
.grow2\/3 { flex-grow: .667; }
.grow3\/2 { flex-grow:  1.5; }
.grow2    { flex-grow:    2; }
.grow3    { flex-grow:    3; }
.grow4    { flex-grow:    4; }