---
translationKey: exercises
title: Exercises
permalink: /{{ locale }}/exercises/
description: This is the BEVAE exercise database.
---
{% extends 'base.html' %}
{% block body %}
{% include 'partials/header.html' %}
<main>
  <div class="[ squeeze12 flow1 ] [ cx ]">
    <h1>Exercises</h1>
    <div class="[ grid8 ] [ gx3 gy4 ]">
      {% set exercises = collections[locale + '_exercises'] %}
      {% for category in site.exerciseCategories %}
      <div class="[ flow2 ]">
        <h2 class="[ h-fancy ]">{{ exercise.name }}</h2>
        <ul class="[ flow1/3 ]">
          {% for exercise in exercises %}
          <li><a href="/{{ locale }}/exercises/{{ exercise.id }}">{{ exercise.id }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}


      <!-- {% for category in exercises %}
      <div class="[ flow2 ]">
        <h2 class="[ h-fancy ]">{{ category.name }}</h2>
        <ul class="[ flow1/3 ]">
          {% for exercise in category.exercises %}
          <li><a href="/{{ locale }}/exercises/{{ exercise.id }}">{{ exercise.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %} -->
    </div>
  </div>
</main>
{% include 'partials/footer.html' %}
{% endblock %}
