---
translationKey: exercises
title: Exercises
permalink: /en/exercises/
description: ...
---
{% extends 'base.html' %}
{% block head %}
<link rel="preload" href="/assets/img/profile_me-res.jpg" as="image">
{% endblock %}
{% block body %}
{% include 'partials/header.html' %}
<main>
  <div class="[ squeeze12 flow1 ] [ cx ]">
    <h1>Romanian deadlift</h1>
    <div class="[ box squeezebody ] [ py6 ]"></div>
    <h2>How to perform</h2>
    <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia.</p>
    <p>Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate.</p>
    <h2>Helpful tips</h2>
    <ul class="[ list-bullet ]">
      <li>Think about touching the wall behind you with your butt</li>
    </ul>
    <p>Gliding discs (decathlon)</p>
    <p>Theraband</p>
    <p>Dumbbells</p>
  </div>
</main>
{% include 'partials/footer.html' %}
{% endblock %}
