---
title: '404'
permalink: /404/
---
{% extends 'base.html' %}
{% block body %}
<main class="[ cover flow1 stack ] [ jc ]">
  <div class="[ cluster ] [ cx ic gx4 gy0 ]">
    <p class="[ fs3 fw700 ]">:(</p>
    <div class="[ flow1 ]">
      <h1>404</h1>
      <div class="[ flow1/2 ] [ fs1 ]">
        <p>We couldn't find what you're looking for.</p>
        <p>No hemos podido encontrar lo que estás buscando.</p>
        <p>Nous n'avons pas trouvé ce que vous cherchez.</p>
      </div>
      <p><a href="/">Back to start / volver al inicio</a></p>
    </div>
  </div>
</main>
{% endblock %}
