---
title: CN7
permalink: /cn7/
description: Class activity (CN7)
---
{% extends "base.html" %}

{% block body %}
<div class="[ flow2 squeeze12 ] [ cx e p0 ]">
  <h1>Facial nerve (CN 7)</h1>


  <div class="[ bdt0 bd-p200 ]"></div>

  <h2>Anatomy & function</h2>
  <ul class="[ list-bullet ] [ flow1/3 ]">
    <li>Starts in the Pons</li>
    <li>Travels through the facial canal, close to CN 8</li>
    <li>Exits through the stylomastoid foramen</li>
  </ul>
  <div class="[ image ] [ squeezebody ]"><img src="/assets/img/cn7-1.jpg" alt=""></div>
  <ul class="[ list-bullet ] [ flow1/3 ]">
    <li>Innervates muscles of facial expression</li>
    <li>Allows us to furrow our forehead, close our eyes and blink, smile, frown, etc.</li>
    <li>Parasympathetic innervation to lacrimal, nasal, palatine, and salivary glands</li>
  </ul>

  <div class="[ bdt0 bd-p200 ]"></div>

  <h2>Facial nerve palsy</h2>
  <ul class="[ list-bullet ] [ flow1/3 ]">
    <li>Bell's palsy (inflammation)</li>
    <li>Lyme disease</li>
    <li>Nerve blocks and neuropathies</li>
    <li>Stroke</li>
    <li>Fracture</li>
    <li>Autoimmune disorders</li>
    <li>Cancer</li>
    <li>May lead to hyperacusis if affecting tensor tympani & stapedius</li>
  </ul>

  <div class="[ bdt0 bd-p200 ]"></div>

  <h2>Assessment</h2>
  <h3 style="color: red; text-decoration: underline;">RED FLAGS</h3>
  <ul class="[ list-bullet ] [ flow1/3 ]">
    <li>Limb paresis</li>
    <li>Limb or facial paresthesia</li>
    <li>Trauma</li>
    <li>Signs of cancer (slow onset, pain, ipsilateral hearing loss)</li>
    <li>Acute infections</li>
  </ul>
  <h3>Hemifacial paresis</h3>
  <ul class="[ list-bullet ] [ flow1/3 ]">
    <li>During conversation, grimacing, smiling, etc.</li>
  </ul>
  <div class="[ image ] [ squeezebody ]"><img src="/assets/img/cn7-2.jpg" alt=""></div>
  <h3>UMN or LMN?</h3>
  <ul class="[ list-bullet ] [ flow1/3 ]">
    <li>Is eye closure and forehead furrowing preserved?</li>
    <li>Are there associated signs of vertigo, ataxia, hyperreflexia, limb paresis?</li>
    <li>To distinguish between brainstem and upper cortical centers, check for contralateral limb involvement involuntary movements of the face</li>
    <li>If UMN lesion is excluded assess the eyes, ears, mastoid region, oral cavity, scalp, and glands</li>
  </ul>
  <h3>Taste</h3>
  <ul class="[ list-bullet ] [ flow1/3 ]">
    <li>Assess both sides of the anterior 2/3 of tongue</li>
    <li>Use a cotton swab with sweet, bitter, sour, and salty solutions</li>
  </ul>
  <h3>Hearing</h3>
  <ul class="[ list-bullet ] [ flow1/3 ]">
    <li>Use a vibrating tuning fork</li>
  </ul>

  <div class="[ bdt0 bd-p200 ]"></div>

  <h2>Take into consideration</h2>
  <ul class="[ list-bullet ] [ flow1/3 ]">
    <li>Partial paralysis has a better prognosis than complete paralysis</li>
    <li>Medical management comes first; ensure patient adherence</li>
  </ul>
  <div class="[ bdt0 bd-p200 ]"></div>

  <h2>Sources</h2>
  <ul class="[ list-bullet ] [ flow1/3 ]">
    <li>https://www.merckmanuals.com/professional/neurologic-disorders/neurologic-examination/how-to-assess-the-cranial-nerves</li>
    <li>https://www.kenhub.com/en/library/anatomy/facial-nerve</li>
    <li>https://my.clevelandclinic.org/health/body/22218-facial-nerve</li>
    <li>https://www.bmj.com/content/351/bmj.h3725</li>
  </ul>
</div>
{% endblock %}
