---
title: colors
permalink: /colors/
---
{% extends 'base.html' %}
{% block body %}
<main>
  <div class="[ cover stack g1 ] [ px3 ]">
    <h1>Colors</h1>
    <div class="switcher10 g2">
      <div class="stack g-3">
        <h2>Primary</h2>
        <div class="stack">
          <div class="px3 py0 bg-p050"></div>
          <div class="px3 py0 bg-p100"></div>
          <div class="px3 py0 bg-p200"></div>
          <div class="px3 py0 bg-p300"></div>
          <div class="px3 py0 bg-p400"></div>
          <div class="px3 py0 bg-p500"></div>
          <div class="px3 py0 bg-p600"></div>
          <div class="px3 py0 bg-p700"></div>
          <div class="px3 py0 bg-p800"></div>
          <div class="px3 py0 bg-p900"></div>
        </div>
      </div>
      <div class="stack g-3">
        <h2>Neutral</h2>
        <div class="stack">
          <div class="px3 py0 bg-n050"></div>
          <div class="px3 py0 bg-n100"></div>
          <div class="px3 py0 bg-n200"></div>
          <div class="px3 py0 bg-n300"></div>
          <div class="px3 py0 bg-n400"></div>
          <div class="px3 py0 bg-n500"></div>
          <div class="px3 py0 bg-n600"></div>
          <div class="px3 py0 bg-n700"></div>
          <div class="px3 py0 bg-n800"></div>
          <div class="px3 py0 bg-n900"></div>
        </div>
      </div>
      <div class="stack g-3">
        <h2>Accent</h2>
        <div class="stack">
          <div class="px3 py0 bg-a050"></div>
          <div class="px3 py0 bg-a100"></div>
          <div class="px3 py0 bg-a200"></div>
          <div class="px3 py0 bg-a300"></div>
          <div class="px3 py0 bg-a400"></div>
          <div class="px3 py0 bg-a500"></div>
          <div class="px3 py0 bg-a600"></div>
          <div class="px3 py0 bg-a700"></div>
          <div class="px3 py0 bg-a800"></div>
          <div class="px3 py0 bg-a900"></div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}