---
title: Welcome/bienvenid@/bienvenue
permalink: /
description: The pain revolution is here. Our mission is to develop high-quality pain education and rehabilitation resources for clinicians, patients, and the general public.
---
{% extends "base.html" %}
{% block body %}
<main class="[ cover stack g3 ] [ jc ic p3 ]">
  <div class="[ stack ] [ g0 ]">
    <div class="[ flow1/3 ]">
      <p>Choose a language</p>
      <p>Eligir un idioma</p>
      <p>Choisir une langue</p>
    </div>
    <ul class="[ flow1/2 ] [ fs1 ] [ pt0 bdt-2 bd-p500 ]">
      {% for language in site.languages %}
        <li><a href="/{{ language.code }}/" style="border: none;">{{ language.label }}</a></li>
      {% endfor %}
    </ul>
  </div>
</main>
{% endblock %}
