---
title: ÖMSQ-12
---
{% extends 'base.html' %}
{% block body %}
{% include 'partials/header.html' %}
<main>
  <div class="[ stack g1 squeeze10 cx ]">
    <h1>ÖMSQ-12</h1>
    <form class="stack g3">
      <div class="stack g0">
        <label data-hidden="true">Date<br>
          <input type="date">
        </label>
        <label>Full name<br>
          <input type="text">
        </label>
        <label>Your problem<br>
          <input type="text">
        </label>
      </div>

      <fieldset>
        <legend>Tell us about your pain or problem.</legend>
        <ol class="stack g3">
          <li class="stack g-1">
            <p>How long ago did your current pain or problem start?</p>
            <div class="grid5 gy-1">
              <label class="[ stack ic ] [ fs-1 ]"><input name="q1" type="radio" value="1"> 0-1 weeks</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q1" type="radio" value="2"> 1-2 weeks</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q1" type="radio" value="3"> 3-4 weeks</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q1" type="radio" value="4"> 4-5 weeks</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q1" type="radio" value="5"> 6-8 weeks</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q1" type="radio" value="6"> 9-11 weeks</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q1" type="radio" value="7"> 3-6 months</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q1" type="radio" value="8"> 6-9 months</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q1" type="radio" value="9"> 9-12 months</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q1" type="radio" value="10"> over 1 year</label>
            </div>
          </li>
          <li class="stack g-1">
            <p>Rate how much of a burden it is to perform all the things you need to do in a normal day.<br><em class="fs-1">0 = not at all, 10 = extremely</em></p>
            <div class="grid1 gy-1">
              <label class="[ stack ic ] [ fs-1 ]"><input name="q2" type="radio" value="0">0</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q2" type="radio" value="1">1</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q2" type="radio" value="2">2</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q2" type="radio" value="3">3</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q2" type="radio" value="4">4</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q2" type="radio" value="5">5</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q2" type="radio" value="6">6</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q2" type="radio" value="7">7</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q2" type="radio" value="8">8</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q2" type="radio" value="9">9</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q2" type="radio" value="10">10</label>
            </div>
          </li>
          <li class="stack g-1">
            <p>For the last 2–3 days, rate on average how bothersome your pain or problem is.<br><em class="fs-1">0 = not at all, 10 = extremely</em></p>
            <div class="grid1 gy-1">
              <label class="[ stack ic ] [ fs-1 ]"><input name="q3" type="radio" value="0">0</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q3" type="radio" value="1">1</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q3" type="radio" value="2">2</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q3" type="radio" value="3">3</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q3" type="radio" value="4">4</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q3" type="radio" value="5">5</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q3" type="radio" value="6">6</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q3" type="radio" value="7">7</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q3" type="radio" value="8">8</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q3" type="radio" value="9">9</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q3" type="radio" value="10">10</label>
            </div>
          </li>
          <li class="stack g-1">
            <p>For the last 2–3 days, what percentage of the day do you notice your pain or problem?<br><em class="fs-1">0 = never, 100 = all the time</em></p>
            <div class="grid1 gy-1">
              <label class="[ stack ic ] [ fs-1 ]"><input name="q4" type="radio" value="0">0</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q4" type="radio" value="1">10</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q4" type="radio" value="2">20</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q4" type="radio" value="3">30</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q4" type="radio" value="4">40</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q4" type="radio" value="5">50</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q4" type="radio" value="6">60</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q4" type="radio" value="7">70</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q4" type="radio" value="8">80</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q4" type="radio" value="9">90</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q4" type="radio" value="10">100</label>
            </div>
          </li>
        </ol>
      </fieldset>





      <fieldset>
        <legend>We also need a bit more information on your thoughts and feelings.</legend>
        <ol class="stack g3" start="5">
          <li class="stack g-1">
            <p>During the past 2–3 days, rate how tense or anxious you have felt.<br><em class="fs-1">0 = not at all, 10 = extremely</em></p>
            <div class="grid1 gy-1">
              <label class="[ stack ic ] [ fs-1 ]"><input name="q5" type="radio" value="0">0</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q5" type="radio" value="1">1</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q5" type="radio" value="2">2</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q5" type="radio" value="3">3</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q5" type="radio" value="4">4</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q5" type="radio" value="5">5</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q5" type="radio" value="6">6</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q5" type="radio" value="7">7</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q5" type="radio" value="8">8</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q5" type="radio" value="9">9</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q5" type="radio" value="10">10</label>
            </div>
          </li>
          <li class="stack g-1">
            <p>During the past 2–3 days, rate how "depressed" or "down" you have felt.<br><em class="fs-1">0 = not at all, 10 = extremely</em></p>
            <div class="grid1 gy-1">
              <label class="[ stack ic ] [ fs-1 ]"><input name="q6" type="radio" value="0">0</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q6" type="radio" value="1">1</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q6" type="radio" value="2">2</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q6" type="radio" value="3">3</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q6" type="radio" value="4">4</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q6" type="radio" value="5">5</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q6" type="radio" value="6">6</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q6" type="radio" value="7">7</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q6" type="radio" value="8">8</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q6" type="radio" value="9">9</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q6" type="radio" value="10">10</label>
            </div>
          </li>
          <li class="stack g-1">
            <p>What do you think is the risk that your current pain or problem will <span style="text-decoration: underline;">not</span> improve?<br><em class="fs-1">0 = no risk, 10 = very large risk</em></p>
            <div class="grid1 gy-1">
              <label class="[ stack ic ] [ fs-1 ]"><input name="q7" type="radio" value="0">0</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q7" type="radio" value="1">1</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q7" type="radio" value="2">2</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q7" type="radio" value="3">3</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q7" type="radio" value="4">4</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q7" type="radio" value="5">5</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q7" type="radio" value="6">6</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q7" type="radio" value="7">7</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q7" type="radio" value="8">8</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q7" type="radio" value="9">9</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q7" type="radio" value="10">10</label>
            </div>
          </li>
          <li class="stack g-1">
            <p>Think of your life. Rate how satisfied you are with your current situation.<br><em class="fs-1">0 = not at all, 10 = extremely</em></p>
            <div class="grid1 gy-1">
              <label class="[ stack ic ] [ fs-1 ]"><input name="q8" type="radio" value="10">0</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q8" type="radio" value="9">1</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q8" type="radio" value="8">2</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q8" type="radio" value="7">3</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q8" type="radio" value="6">4</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q8" type="radio" value="5">5</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q8" type="radio" value="4">6</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q8" type="radio" value="3">7</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q8" type="radio" value="2">8</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q8" type="radio" value="1">9</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q8" type="radio" value="0">10</label>
            </div>
          </li>
        </ol>
      </fieldset>





      <fieldset>
        <legend>How true are the next two statements for you?</legend>
        <ol class="stack g3" start="9">
          <li class="stack g-1">
            <p>Physical activity makes my pain or problem worse.<br><em class="fs-1">0 = not at all, 10 = extremely</em></p>
            <div class="grid1 gy-1">
              <label class="[ stack ic ] [ fs-1 ]"><input name="q9" type="radio" value="0">0</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q9" type="radio" value="1">1</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q9" type="radio" value="2">2</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q9" type="radio" value="3">3</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q9" type="radio" value="4">4</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q9" type="radio" value="5">5</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q9" type="radio" value="6">6</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q9" type="radio" value="7">7</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q9" type="radio" value="8">8</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q9" type="radio" value="9">9</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q9" type="radio" value="10">10</label>
            </div>
          </li>
          <li class="stack g-1">
            <p>I should not do my normal daily routine or work with my present pain or problem.<br><em class="fs-1">0 = not at all, 10 = extremely</em></p>
            <div class="grid1 gy-1">
              <label class="[ stack ic ] [ fs-1 ]"><input name="q10" type="radio" value="0">0</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q10" type="radio" value="1">1</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q10" type="radio" value="2">2</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q10" type="radio" value="3">3</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q10" type="radio" value="4">4</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q10" type="radio" value="5">5</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q10" type="radio" value="6">6</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q10" type="radio" value="7">7</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q10" type="radio" value="8">8</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q10" type="radio" value="9">9</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q10" type="radio" value="10">10</label>
            </div>
          </li>
        </ol>
      </fieldset>





      <fieldset>
        <legend>Help us to better understand your current physical abilities.</legend>
        <ol class="stack g3" start="11">
          <li class="stack g-1">
            <p>I can walk for an hour or participate in my normal <span style="text-decoration: underline;">light</span> recreational or sporting activities<br><em class="fs-1">0 = not at all, 10 = completely normal</em></p>
            <div class="grid1 gy-1">
              <label class="[ stack ic ] [ fs-1 ]"><input name="q11" type="radio" value="10">0</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q11" type="radio" value="9">1</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q11" type="radio" value="8">2</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q11" type="radio" value="7">3</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q11" type="radio" value="6">4</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q11" type="radio" value="5">5</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q11" type="radio" value="4">6</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q11" type="radio" value="3">7</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q11" type="radio" value="2">8</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q11" type="radio" value="1">9</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q11" type="radio" value="0">10</label>
            </div>
          </li>
          <li class="stack g-1">
            <p>I manage my daily routine and social activities (shopping, transportation, seeing friends, etc.)<br><em class="fs-1">0 = not at all, 10 = completely normal</em></p>
            <div class="grid1 gy-1">
              <label class="[ stack ic ] [ fs-1 ]"><input name="q12" type="radio" value="0">0</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q12" type="radio" value="1">1</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q12" type="radio" value="2">2</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q12" type="radio" value="3">3</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q12" type="radio" value="4">4</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q12" type="radio" value="5">5</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q12" type="radio" value="6">6</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q12" type="radio" value="7">7</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q12" type="radio" value="8">8</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q12" type="radio" value="9">9</label>
              <label class="[ stack ic ] [ fs-1 ]"><input name="q12" type="radio" value="10">10</label>
            </div>
          </li>
        </ol>
      </fieldset>
    </form>
  </div>
</main>
{% include 'partials/footer.html' %}


<script>
  // Insert date value into hidden field
  const dateControl = document.querySelector('input[type="date"]');
  dateControl.valueAsDate = new Date();
</script>
{% endblock %}
