---
translationKey: home
permalink: /da/
title: Smerterevolutionen er ankommet.
description: Smerterevolutionen er ankommet. Vores mission er at udvikle resourcer af høj kvalitet for smerteuddannelse og rehabilitering til klinikere, patienter og offentligheden.
---
{% extends 'base.html' %}
{% block body %}
{% include 'partials/header.html' %}
<main>
  <div class="[ squeeze12 stack ] [ cx g4 ]">
    {% include 'partials/homeIntro.html' %}
  </div>
</main>
{% include 'partials/footer.html' %}
{% endblock %}
