<header class="[ cluster g-2 jfybetween itemscenter squeeze12 centerx ] [ p0 ]">
  <a class="[ logo ] [ fs2 ]" href="/{{ locale }}/">BEVAE</a>
  <nav>
    {% for language in site.languages %}
    {% if loop.first %}<ul>{% endif %}

      {% set translationUrl = "/" + language.code + "/" %}
      {% set activeClass = "is-active" if language.code == locale else "" %}

      {% for entry in collections.all %}
      {% if entry.data.translationKey == translationKey and entry.data.locale == language.code and entry.data.locale != locale %}
      {% set translationUrl = entry.url %}
      <li class="fs-1"><a class="{{ activeClass }}" href="{{ translationUrl }}">{{ language.message }}</a></li>
      {% endif %}
      {% endfor %}

    {% if loop.last %}</ul>{% endif %}
    {% endfor %}
  </nav>
</header>